.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 44rem;
  height: 44rem;
  box-sizing: border-box;
  margin: 0 auto;
}



.row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 4rem;
  height: 4rem;
  border: 1px dashed #e2d2c7;
  box-sizing: border-box;
}

.tile > img {
  /* width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  padding: 0.25rem; */
}

/* Mobile */
@media only screen and (max-width: 420px) {
  
  .map {
    width: 22rem;
    height: 22rem;
  }

  .tile {
    width: 2rem;
    height: 2rem;
  }

}

